/* style.css */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1 {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 54px;
    
}

.left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    align-items: center;
    display: flex;

}

.right {
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
   
    display: flex;
    gap: 96px;
    
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin: 6em 0;
}

.stuff {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.stuff p {
    font-size: 18px;
    color: #e5e7eb;
}

.button-one {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    padding: 8px 42px;
    border-radius: 8px;
    font-size: 18px;
}

img {
    max-width: 500px;
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.box-3 {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-style: italic ;
    font-weight: -100;
    width: 830px;
}

.thor {
    display: flex;
    font-weight: bolder;
    font-size: 18pt;
    width: 750px;
    justify-content: flex-end;
}

.box-4 {
    display: flex;
    justify-content: center;

}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

.content {
    display: flex;
    gap: 64px;
    margin-bottom: 10em;
}
.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    transition: transform 0.4s; 
    
}

.container:hover {
    transform: scale(1.2);
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 2em 0;
}
.pic {
    display: flex;
    flex: 0 1 0;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 8px;
}
.text {
    color: rgb(99, 96, 96)
}

.sign-up {
    display: flex;
    margin: 8em;
    width: 800px;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4em 8em;
    border: 2px solid #f9faf8;
    border-radius: 12px;
    align-items: center;
}
.bold {
   font-size: 18pt; 
   font-weight: 900;
}
.cta {
    display: flex;
    flex-direction: column;
}
.button-two {
    border: 2px solid #f9faf8;
    padding: 2px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 12pt;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    
}
.footer {
    justify-content: center;
    padding: 2em;
}